#sec-6 {
    position: relative;
    width: 100%;
}

#sec-6 .box1 {
    position: relative;
    width: 100%;
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

#sec-6 .main-box {

    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#sec-6 .main-box1 {
    padding: 0 40px 16px 40px;
    width: 61%;
}

#sec-6 .main{
    width: 78%;
}

#sec-6 .main-box2 {
    width: 39%;
}

#sec-6 .inner-box {
    padding: 24px;
    border: 1px solid transparent ;
    border-radius: 3px;
    transition: all 0.2s ease;
}

#sec-6 .inner-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

#sec-6 .inner-box:hover > .hover-svg {
    opacity: 1;
}

#sec-6 .inner-box:hover > .text-box > .right-triangle {
    fill: #0366D6;
}

#sec-6 .inner-box:hover > .text-box > div > p > span {
    text-decoration: underline rgb(2, 27, 56);
}

#sec-6 .text-box {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
}


#sec-6 a {
    text-decoration: none;
}

#sec-6 h1 {
    color: #24292E;
    font-size: 21px;
    font-weight: 450;
    margin-bottom: 4px;
}

#sec-6 p {
    width: 84%;
    line-height: 1.5;
    margin: 0;
    color: #24292E;
}

#sec-6 span {
    color: #0366D6;
    text-decoration: underline;
    transition: all 0.2s ease;
}

#sec-6 p , #sec-6 span{
    font-size: 14px;
}

#sec-6 .hover-svg{
    position: absolute;
    width: 18%;
    top: -2%;
    left: 40%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

#sec-6 .right-triangle {
    width: 12px;
    fill: #595959;
    transition: all 0.2s ease;
}


@media (max-width: 1011px) {
    #sec-6 .box1 {
        padding: 0 40px;
        margin: 0 auto;
    }

    #sec-6 .main-box {
        flex-direction: column;
    }

    #sec-6 .main-box1, #sec-6 .main-box2 {
        width: 100%;
    }

    #sec-6 .main-box1 {
        display: flex;
        justify-content: center;
    }

    #sec-6 .main {
        max-width: 64%;
    }

    #sec-6 .hover-svg{
        width: 20%;
        top: 5%;
        left: 70%;
    }
}

@media (max-width: 543px) {
    #sec-6 .box1 {
        padding: 0 16px;
        margin: 0 auto;
    }

    #sec-6 .main-box {
        padding: 0 16px;
    }

    #sec-6 .main-box1 {
        padding: 40px 0 0 0;
    }

    #sec-6 .main {
        max-width: 84%;
        margin: 0 auto;
    }

    #sec-6 .inner-box {
        padding: 0;
        margin: 24px 0;
    }

    #sec-6 .inner-box:hover {
        box-shadow: none;
    }
    
    #sec-6 .inner-box:hover > .hover-svg {
        opacity: 0;
    }
    
    
    #sec-6 .inner-box:hover > .text-box > div > p > span {
        text-decoration: underline;
    }

}