#sec-8 {
    width: 100%;
    position: relative;
}

#sec-8 .box1 {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 24px;
}

#sec-8 .box2 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

#sec-8 .mn-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec-8 .inr-box1 {
    margin: 0 auto;
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec-8 .inr-box1 h1 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: gray;
    margin-bottom: 1rem;
    text-align: center;
}

#sec-8 .inr-box1 h2 {
    font-size: 2.7rem;
    font-weight: 500;
    color: #24292E;
    margin-bottom: 1rem;
    text-align: center;
}

#sec-8 .inr-box1 p {
    font-size: 1.3rem;
    color: gray;
    margin-bottom: 1rem;
    text-align: center;
}

#sec-8 .inr-box1 .btn {
    font-size: 1rem;
    font-weight: 500;
    color: #227EE9;
    border: 1px solid rgb(55, 148, 255);
    padding: 1.2em 2em;
    cursor: pointer;
    transition: border 300ms ease;
}

#sec-8 .inr-box1 .btn:hover { border: 1px solid rgb(18, 87, 165);}

#sec-8 .right-arrow {
    width: 12px;
    fill: rgb(23, 89, 163);
    transition: transform 300ms ease;
    transform: translateX(2px);
}

#sec-8 .inr-box1 .btn:hover > .right-arrow { transform: translateX(5px);}

#sec-8 .inr-box2 {
    max-width: 1012px;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 60px;
    padding: 0 40px;
}

#sec-8 .lft-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 36px;
}

#sec-8 .lft-box1, #sec-8 .lft-box2 { margin-bottom: 2rem;}

#sec-8 .lft-box h1 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: rgb(66, 65, 65);
}

#sec-8 .lft-box p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: rgb(105, 104, 104);
}

#sec-8 .rt-box {
    width: 100%;
    display: grid;
    place-items: center;
}

#sec-8 .rt-box img {
    max-height: 300px;
    width: auto;
    margin: 0 auto;
}

#sec-8 .container {
    position: relative;
    max-width: 572px;
    height: fit-content;
    background-color: #FFFFFF;
}

#sec-8 .inr-box3 {
    position: relative;
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid rgb(224, 223, 223);
    border-radius: 3px;
    padding: 16px 24px;
    display: flex;
    transition: box-shadow 200ms ease;
}

#sec-8 .inr-box3:hover { box-shadow: 0 2px 16px rgba(163, 163, 163, 0.281);}

#sec-8 .inr-box3::before {
    content: '';
    position: absolute;
    background-image: radial-gradient(rgb(202, 205, 207) 20%, hsl(1, 66%, 49%, 0%) 0%);
    background-position: 0 0;
    background-size: 11px 11px;
    height: 100%;
    width: 35%;
    top: 0px;
    left: 0px;
    transition: top 400ms ease, left 400ms ease;
    z-index: -2;
}

#sec-8 .inr-box3::after {
    content: '';
    position: absolute;
    background-image: radial-gradient(rgb(202, 205, 207) 20%, hsl(1, 66%, 49%, 0%) 0%);
    background-position: 0 0;
    background-size: 11px 11px;
    height: 100%;
    width: 35%;
    bottom: 0;
    right: 0;
    transition: bottom 400ms ease, right 400ms ease;
    z-index: -1;
}

#sec-8 .inr-box3:hover::before {
    top: -24px;
    left: -24px;
}

#sec-8 .inr-box3:hover::after {
    bottom: -24px;
    right: -24px;
}

#sec-8  .container .lft-box { width: 8%;}

#sec-8 .container .rt-box {
    width: 92%;
    padding: 16px 16px 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sec-8 .inr-box3 img { width: 52px;}

#sec-8 .inr-box3 .rt-box h1{
    font-size: 1.2rem;
    font-weight: 450;
    color: rgb(66, 65, 65);
    margin-bottom: 2px;
}

#sec-8 .inr-box3 .rt-box p{
    font-size: 0.9rem;
    line-height: 1.5;
    color: rgb(105, 104, 104);
    margin-bottom: 16px;
}

#sec-8 .inr-box3 .rt-box a {
    text-decoration: none;
    color: #227EE9;
}

#sec-8 .inr-box3 .rt-box .btn { cursor: pointer;}

#sec-8 .inr-box3 .rt-box .btn:hover > .right-arrow{ transform: translateX(6px);}

/* Media queries for sec-8.css */
@media (min-width : 320px) {
    #sec-8 .inr-box1 { padding: 0 16px;}

    #sec-8 .inr-box1 .btn{ margin: 0 -8px;}

    #sec-8 .inr-box1 .btn:before {
        content: 'How GitHub Enterprise works';
        position: relative;
    }

    #sec-8 .inr-box2 { padding: 0 16px;}

    #sec-8 .lft-box { padding: 16px 0;}

    #sec-8 .container { margin: 0 16px;}

    #sec-8 .lft-box2 { margin-bottom: 0;}
}

@media (min-width : 544px) {
    #sec-8 .inr-box1 { padding: 0 48px;}

    #sec-8 .lft-box h1 { font-size: 1.2rem;}

    #sec-8 .inr-box2 { padding: 0 74px;}

    #sec-8 .inr-box1 .btn:before {
        content: 'Learn how GitHub Enterprise works';
        position: relative;
    }

    #sec-8 .container {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 48px;
    }
}

@media (min-width : 768px) {

    #sec-8 .lft-box {
        width: 53%;
        padding: 16px 0;
    }

    #sec-8 .rt-box { width: 47%;}

    #sec-8 .inr-box1 h2 { font-size: 3.3rem;}
    
    #sec-8 .box2 { padding: 80px 0;}

    #sec-8 .inr-box1 p { width: 70%;}

    #sec-8 .container { width: 53%;}
}