#sec-2 {
    width: 100%;
    position: relative;
    background-color: #2B3137;
    height: fit-content;
}

#sec-2 .inner-box1 {
    width: 100%;
    height: 100%;
    padding: 64px 0;
}

#sec-2 .inner-box2 {
    width: 100%;
    max-width: 1012px;
    padding: 0 16px;
    margin: 0 auto;
}

#sec-2 .box {
    max-width: 1028px;
    margin: 0 -24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sec-2 .text-box {
    position: relative;
    width: 54%;
    height: auto;
    padding: 0 24px;
}

#sec-2 .text-box a{
    color: rgb(235, 223, 223);
    text-decoration: underline dotted rgb(235, 223, 223, 0.2) ;
}

#sec-2 .text-box a:hover{
    text-decoration: underline ;
}

#sec-2 .text-box h1 {
    color: #FFFFFF;
    font-size: 68px;
    font-weight: 500;
    line-height: 60px;
}

#sec-2 .text-box p {
    color: #AAADA7;
    font-size: 21.5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#sec-2 .form-container {
    max-width: 458px;
    height: fit-content;
    width: 46%;
    border-radius: 2px;
    padding: 0 24px;
    
}

#sec-2 form {
    width: 100%;
    height: fit-content;
    background-color: #FAFBFC;
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sec-2 form label {
    color: #24292E;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}
#sec-2 form input {
    background: #FAFBFC;

    height: 42px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin: 8px 0;
    padding: 0 10px;
}

#sec-2 form input:focus {
    box-shadow: 0 0px 4px 1px darkcyan;
    outline: 1px solid rgb(90, 168, 194);
    border-radius: 3px;
}

#sec-2 form input[type="email"]:focus ~ p > span {
    color: rgb(181, 157, 252);

}


#sec-2 form p{
    color: #24292E;
    font-size: 12px;
}

#sec-2 form p:last-child{
    color: #8366DD;
}
#sec-2 form button {
    background-color: #2EBC4F;
    height: 70px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

#sec-2 form button:hover {
    background-color: rgb(36, 160, 65);
}
form a {
    color: #0366D6;
    text-decoration: none;
}
#sec-2 form a:hover {
    text-decoration: underline;
}


@media (max-width: 1011px) {
    #sec-2 .inner-box2 {
        width: 100%;
        padding: 0 40px;
    }

    #sec-2 form {
        padding: 24px 16px;
    }

}

@media (max-width: 767px) {
    #sec-2 .inner-box2 {
        width: 100%;
        padding: 0 40px;
    }

    #sec-2 .box {
        margin: 0;
        flex-flow: column wrap;
    }

    #sec-2 .text-box {
        padding: 0;
        text-align: center;
        flex-grow: 1;
        width: 100%;
    }

    #sec-2 .text-box h1 {
        font-size: 50px;
        line-height: 45px;
    }

    #sec-2 .form-container {
        width: 100%;
    }
}

@media (max-width: 543px) {
    #sec-2 .inner-box1 {
        padding: 40px 0;
    }

    #sec-2 .inner-box2 {
        padding: 0 16px;
    }    

    #sec-2 .form-container {
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
}