#sec-9 {
    width: 100%;
    position: relative;
}

#sec-9 .box1 {
    margin-top: 40px;
}

#sec-9 .mn-box {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec-9 .inr-box1 {
    margin: 0 auto;
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec-9 .inr-box1 h1 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: gray;
    margin-bottom: 1rem;
    text-align: center;
}

#sec-9 .inr-box1 h2 {
    font-size: 2.7rem;
    font-weight: 500;
    color: #24292E;
    margin-bottom: 8px;
    text-align: center;
}

#sec-9 .inr-box1 p {
    font-size: 1.3rem;
    color: gray;
    margin-bottom: 24px;
    text-align: center;
}

#sec-9 .inr-box1 .btn {
    font-size: 1rem;
    font-weight: 500;
    color: #227EE9;
    border: 1px solid rgb(55, 148, 255);
    padding: 1.2em 2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

#sec-9 .inr-box1 .btn:before {
    content: 'Learn about Integrations';
    position: relative;
}

#sec-9 .inr-box1 .btn:hover {
    border: 1px solid rgb(18, 87, 165);
}

#sec-9 .right-arrow{
    width: 12px;
    fill: rgb(23, 89, 163);
    transition: all 0.3s ease;
    transform: translateX(2px);
}

#sec-9 .inr-box1 .btn:hover > .right-arrow {
    transform: translateX(5px);
}

#sec-9 .inr-box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 190px;
}

#sec-9 .img {
    position: relative;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin: 16px;
}

#sec-9 .inr-box2 img {
    position: relative;
    width: 100%;

    padding: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

#sec-9 .inr-box2 .img[alt="Slack"] {
    background-color: #4A154B;
    align-self: flex-start;
}

#sec-9 .inr-box2 .img[alt="ZenHub"] {
    background-color: rgb(54,78,152);
    align-self: flex-end;
}

#sec-9 .inr-box2 .img[alt="Travis CI"] {
    background-color: #EFF9F9;
    align-self: flex-start;
}

#sec-9 .inr-box2 .img[alt="Atom"] {
    background-color: #5FB57D;
    align-self: flex-end;
}

#sec-9 .inr-box2 .img[alt="Circle CI"] {
    background-color: #022531;
    align-self: flex-start;
}

#sec-9 .inr-box2 .img[alt="Google"] {
    background-color: #F2F2F2;
    align-self: flex-end;
}

#sec-9 .inr-box2 .img[alt="Code Climate"] {
    background-color: #313131;
    align-self: flex-start;
}

#sec-9 .inr-box2 img:hover {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.055);
}

#sec-9 .img::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 12px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    background-image: url(../images/top-arrow.png);
    opacity: 0;
    transition: all 0.2s ease;
}

#sec-9 .img::after {
    content: attr(alt);
    position: absolute;
    text-align: center;
    word-wrap: nowrap;
    color: blanchedalmond;
    font-size: 0.7rem;
    width: fit-content;
    padding: 6px 8px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -32px;
    background-color: #292929;
    border-radius: 1px;
    opacity: 0;
    transition: all 0.2s ease;
}

#sec-9 .img:hover:before, #sec-9 .img:hover:after {
    opacity: 1;
}

#sec-9 .inr-box3 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec-9 .inr-box3 p{
    font-size: 0.8rem;
    max-width: 340px;
    text-align: center;
    margin-bottom: 8px;
    color: #586069;
    font-weight: 500;
}

#sec-9 a {
    text-decoration: none;
}

#sec-9 .inr-box3 span{
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    margin-bottom: 40px;
    color: #1772D9;
}

#sec-9 a:hover > .right-arrow {
    transform: translateX(5px);
}




@media (min-width : 320px) {
    #sec-9 .box1 {
        margin-top: 120px;
    }

    #sec-9 .inr-box1 {
        padding: 0 16px;
    }

    #sec-9 .inr-box1 .btn{
        margin: 0 -8px;
    }

    #sec-9 .inr-box2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: fit-content;
        min-height: 190px;
        margin: 36px 16px 0 16px;
    }

    #sec-9 .inr-box2 .img[alt="Code Climate"] {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        width: 0;
        height: 0;
    }

    #sec-9 .inr-box3 {
        margin-top: 48px;
    }
}

@media (min-width : 544px) {
    #sec-9 .inr-box1 {
        padding: 0 48px;
    }

    #sec-9 .lft-box h1{
        font-size: 1.2rem;
    }

    #sec-9 .inr-box2 {
        margin: 80px 40px 0 40px;
    }

    #sec-9 .inr-box2 .img[alt="Code Climate"] {
        position: relative;
        opacity: 1;
        pointer-events: all;
        width: 96px;
        height: 96px;
    }

    #sec-9 .inr-box3 {
        margin-top: 80px;
    }
}

@media (min-width : 768px) {
    #sec-9 .inr-box1 h2 {
        font-size: 3.3rem;
    }

    #sec-9 .inr-box1 p {
        max-width: 600px;
    }

    #sec-9 .inr-box2 {
        margin: 80px 36px 0 36px;
    }
    
}